.movie-card {
    margin-top: 20px;
    margin-bottom: 20px;

    .card-img {
        height: 250px;
    }

    .moviecard-body {
        height: 120px;
    }

    .body {
        height: 250px;
    }

    .details-button {
        padding: 5px 15px;
    }

    .details-button:hover,
    .details-button:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
    }
}

.movie-card:hover {
    color: white;
    transform: scale(1.025);
    background: #817474;
    animation: popBackground 0.3s ease-in;
    box-shadow: rgba(229, 8, 8, 0.24) 0px 5px 10px
}