.main-nav {
    background-color: #817474;
    color: whitesmoke;

    .navbar-logout {
        color: whitesmoke;
    }

    .navbar-logout:hover {
        color: white;
    }

    .navbar-logo:hover {
        color: red;
    }

   

}